.sidebar{
    transition: transform 0.3s;
}

.sidebar a{
        display: block;
        text-decoration: none;
        color: aliceblue; 
        padding: 10px 0 10px 10px;
    }

.hearth{

color: rgb(91, 147, 255);



}

.css-1n4e2b2 {
    font-size: 1.5rem;
    color: rgb(255, 214, 107);
}

.css-ey2c5d {
    font-size: 1.5rem;
    color: rgb(255, 143, 107);
}

.css-ru726l {
    font-size: 1.5rem;
    color: rgb(96, 91, 255);
}

.css-1s2oht0 {
    color: rgb(3, 2, 41);
    transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    padding: 28px 0px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: none;
    height: 410px;
}  

.img{
    width: 100vh;
    
}

@media (max-width: 992px){

    .sidebar{
        position: fixed;
        transform: translateX(-100%);
        z-index: 1;
    }

   

    .sidebar a:hover{
        background-color: #495057;

    }

    .sidebar.show{
        transform: translateX(0);
    }

}
